menu "Speed Sensor Configuration"

config WIFI_SSID
    string "WiFi network SSID"
    default ""
    help
        WiFi network SSID.

config WIFI_PASSWORD
    string "WiFi network password"
    default ""
    help
        WiFi network password.

config FIRMWARE_UPGRADE_URL
    string "Fimware upgrade HTTPS url"
    default "https://34.89.91.208:8443/hello-world.bin"
    help
        Fimware upgrade HTTPS url.

config MQTT_BROKER_URI
    string "MQTT SSL broker uri"
    default "mqtts://34.89.91.208:8883"
    help
        MQTT SSL broker uri.

config MQTT_BROKER_USER
    string "MQTT SSL user"
    default ""
    help
        MQTT SSL user.

config MQTT_BROKER_PASSWORD
    string "MQTT SSL user password"
    default ""
    help
        MQTT SSL user password.

endmenu